.box1 {
  display: flex;
  justify-content: space-between;
  border: solid green;
  background-color: rgb(76, 231, 76);
  height: 90px;
  margin: 15px;
  align-items: center;
 
}
.Imge-1 {
  height: 80px;
  width: 80px;
}
  .container-1 {
    border: blanchedalmond;
    width: 800px;
    height: 1000px;
    display: flex;
    flex-direction: row;
    
  }

.iteam-box {
  border: solid blue;
  background-color: rgb(126, 201, 245);
  width: 260px;
  height: 700px;
  margin: 15px;
  align-self: flex-start;
}
.container-2 {
  display: flex;
  flex-direction: column;
}

.Imge-2 {
  height: 140px;
  width: 140px;
  float: left;
  padding: 10px;
}
.text {
  text-align: justify;
  font-family: Verdana;
}

.content-box {
  border: solid rgb(250, 250, 6);
  background: rgb(243, 243, 120);
  width: 500px;
  height: 200px;
  margin: 15px;
  }
.form-box {
  border: solid rgb(214, 102, 214);
  background: rgb(204, 24, 204);
  width: 350px;
  height: 250px;
  margin: 15px;
}
.last-container {
  border: solid rgb(20, 240, 130);
  background-color: rgb(21, 167, 159);
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
 
}